<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function getMachine1(){
        $.get("{{url_for('machine1')}}",function(output){
            console.log(output);
            data.setValue(0, 1, output);
            chart.draw(data, options);
        })
      }

      function danger(num,machine){
        $("#danger").hide();
        $("#danger").empty();
        $("#danger").append("Machine_"+machine+":"+num);
        $("#danger").fadeIn(500);
      }

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Machine 1', 10],
          ['Machine 2', 20],
          ['Machine 3', 30],
          ['Machine 4', 40],
          ['Machine 5', 50],
          ['Machine 6', 60],
          ['Machine 7', 70],
          ['Machine 8', 80],
          ['Machine 9', 90],
          ['Machine 10', 100],
        ]);

        var options = {
          width: 1200, height: 400,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          $.get("{{url_for('machine1')}}",function(output){
            data.setValue(0, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,1);
            }
        });
        }, 5000);
        setInterval(function() {
          $.get("{{url_for('machine2')}}",function(output){
            data.setValue(1, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,2);
            }
        });
        }, 6000);
        setInterval(function() {
          $.get("{{url_for('machine3')}}",function(output){
            data.setValue(2, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,3);
            }
        });
        }, 1000);
        setInterval(function() {
          $.get("{{url_for('machine4')}}",function(output){
            data.setValue(3, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,4);
            }
        });
        }, 3000);
        setInterval(function() {
          $.get("{{url_for('machine5')}}",function(output){
            data.setValue(4, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,5);
            }
        });
        }, 4000);
        setInterval(function() {
          $.get("{{url_for('machine6')}}",function(output){
            data.setValue(5, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,6);
            }
        });
        }, 7000);
        setInterval(function() {
          $.get("{{url_for('machine7')}}",function(output){
            data.setValue(6, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,7);
            }
        });
        }, 3500);
        setInterval(function() {
          $.get("{{url_for('machine8')}}",function(output){
            data.setValue(7, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,8);
            }
        });
        }, 8000);
        setInterval(function() {
          $.get("{{url_for('machine9')}}",function(output){
            data.setValue(8, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,9);
            }
        });
        }, 9000);
        setInterval(function() {
          $.get("{{url_for('machine10')}}",function(output){
            data.setValue(9, 1, output);
            chart.draw(data, options);
            if (output > 90){
              danger(output,10);
            }
        });
        }, 4500);
      }
    </script>
  </head>
  <body>
    <h3><span style="color:red;">Machine Alert Info</span></h3>
    <h3><span style="color:red;" id="danger">Danger Alert</span></h3>
    <br/>
    <div id="chart_div" style="width: 400px; height: 120px;">
    </div>
  </body>
</html>

